body{
	background-color: #ffe6ff;
	color: black;
	position: relative;
}

.container{
	width: 160px;
	height: 240px;
	padding: 100px;
	margin: 10px;
	position: absolute;
	top: 150%;
	left: 35%;
	border-radius: 14px;
	background-color: #ADEFD1FF;
	box-shadow: 6px 6px 11px #666666, -6px -6px 11px white;
}

#display{
	height: 40px;
	width: 223px;
	padding: 8px;
	margin: 5px;
	border: black;
	border-radius: 0px;
	font-size: 24px;
	color: #00203FFF;
	box-shadow: inset 3px 3px 8px #666666, inset -3px -3px 8px white;
}

.box{
	position: absolute;
	top: 65px;
	left: 55px;
}

.button{
	padding: 5px;
	height: 50px;
	width: 50px;
	margin: 5px;
	border-radius: 5px;
	font-size: 20px;
	background-color: #00203FFF;
	color: white;
	box-shadow: 3px 3px 8px #666666, -3px -3px 8px white;
}

.button:hover{
	background: #ccffcc;
	color: black;
	border: 2px solid black;
}

.header h1{
	text-align: center;
	font-family: "Lucida Handwriting", cursive;
	text-decoration: underline;
	font-size: 45px;
	color: #00203FFF;
}
